<div class="box">
    <section class="section">
        <h2>Questão do dia</h2>
        <div class="section__question">
            <div class="section__question__title">
                <h3>Qual o nome da casa que morou serginho bengala, barão de Paranaguá ?</h3>
            </div>
            <div class="section__question__buttons">
                <app-tag-button [dark]="true" [label]="'Casa colonial'"></app-tag-button>
                <app-tag-button [dark]="true" [label]="'Casa residual'"></app-tag-button>
                <app-tag-button [dark]="true" [label]="'Casa brumenal'"></app-tag-button>
                <app-tag-button [dark]="true" [label]="'Casa survistal'"></app-tag-button>
            </div>
            <div class="section__question__image">
                <img src="https://picsum.photos/500/500?random=20" alt="Questão do dia">
            </div>
        </div>
    </section>
</div>