<div class="content">
    <div class="section">
        <div class="content__imagem">
            <img id="imagem-principal" src="https://picsum.photos/2000/1500?random=1" alt="a">
            <div class="content__imagem__download"><button><a href="https://picsum.photos/1100/500?random=1"
                        target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 24 24">
                            <path
                                d="M12 15.575q-.2 0-.375-.062T11.3 15.3l-3.6-3.6q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L11 12.15V5q0-.425.288-.713T12 4q.425 0 .713.288T13 5v7.15l1.875-1.875q.3-.3.713-.288t.712.313q.275.3.288.7t-.288.7l-3.6 3.6q-.15.15-.325.213t-.375.062ZM6 20q-.825 0-1.413-.588T4 18v-2q0-.425.288-.713T5 15q.425 0 .713.288T6 16v2h12v-2q0-.425.288-.713T19 15q.425 0 .713.288T20 16v2q0 .825-.588 1.413T18 20H6Z" />
                        </svg></a></button></div>
        </div>
        <div class="content__info">
            <header class="content__info__header">
                <div class="content__info__header__1">
                    <h2>Nome da obra</h2>
                    <h3><span>Autor desconhecido</span><span>1590</span></h3>
                    <div class="content__info__header__1__actions">
                        <button><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                                <path
                                    d="M11 17H7q-2.075 0-3.538-1.463T2 12q0-2.075 1.463-3.538T7 7h4v2H7q-1.25 0-2.125.875T4 12q0 1.25.875 2.125T7 15h4v2Zm-3-4v-2h8v2H8Zm5 4v-2h4q1.25 0 2.125-.875T20 12q0-1.25-.875-2.125T17 9h-4V7h4q2.075 0 3.538 1.463T22 12q0 2.075-1.463 3.538T17 17h-4Z" />
                            </svg></button>
                        <button><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                                <path
                                    d="M18 22q-1.25 0-2.125-.875T15 19q0-.175.025-.363t.075-.337l-7.05-4.1q-.425.375-.95.588T6 15q-1.25 0-2.125-.875T3 12q0-1.25.875-2.125T6 9q.575 0 1.1.213t.95.587l7.05-4.1q-.05-.15-.075-.337T15 5q0-1.25.875-2.125T18 2q1.25 0 2.125.875T21 5q0 1.25-.875 2.125T18 8q-.575 0-1.1-.212t-.95-.588L8.9 11.3q.05.15.075.338T9 12q0 .175-.025.363T8.9 12.7l7.05 4.1q.425-.375.95-.587T18 16q1.25 0 2.125.875T21 19q0 1.25-.875 2.125T18 22Z" />
                            </svg></button>
                        <button><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                                <path
                                    d="M12 15.575q-.2 0-.375-.062T11.3 15.3l-3.6-3.6q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L11 12.15V5q0-.425.288-.713T12 4q.425 0 .713.288T13 5v7.15l1.875-1.875q.3-.3.713-.288t.712.313q.275.3.288.7t-.288.7l-3.6 3.6q-.15.15-.325.213t-.375.062ZM6 20q-.825 0-1.413-.588T4 18v-2q0-.425.288-.713T5 15q.425 0 .713.288T6 16v2h12v-2q0-.425.288-.713T19 15q.425 0 .713.288T20 16v2q0 .825-.588 1.413T18 20H6Z" />
                            </svg></button>
                    </div>
                </div>
                <div class="content__info__header__2">

                </div>
            </header>
            <main class="content__info__main">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus neque corporis mollitia repellendus,
                magnam quod, illum cumque minima reiciendis unde debitis incidunt illo qui dolorem, officiis quo placeat
                nesciunt quibusdam!
                Nihil fugiat possimus vitae tempora atque! Voluptatibus ad deleniti nesciunt commodi eos esse, aut
                veniam amet nulla asperiores, consequatur illum earum doloremque. Repudiandae rem ea at fuga nihil!
                Suscipit, quo.
                Minus aut repudiandae laboriosam suscipit necessitatibus cumque tenetur explicabo aspernatur cum modi
                blanditiis architecto accusantium reiciendis deleniti praesentium mollitia illum, doloribus enim ea
                culpa eius? Quod rerum tempora cupiditate saepe.
                Voluptas labore inventore ratione qui distinctio accusamus temporibus error dignissimos laudantium
                perferendis autem libero maiores suscipit sit adipisci maxime possimus doloribus voluptate similique,
                est voluptatem! Ipsa minus temporibus provident perspiciatis!
                Ut impedit fuga aspernatur minima aut accusamus neque quaerat, sit alias, enim dolor amet iusto? Est
                omnis unde rem sapiente placeat. Tenetur mollitia ducimus odio deleniti, dolore distinctio voluptatibus
                culpa.
                Fugit modi esse quidem ipsam excepturi nesciunt reprehenderit! Ut, repudiandae magnam, labore officia
                voluptate iure assumenda, nesciunt sit ab soluta quod iusto nobis? Voluptas quo, deserunt eum numquam
                consequuntur quos?
                Voluptas quo repellendus porro optio enim reiciendis maiores in, est natus, obcaecati, similique eum!
                Facere, aspernatur optio. Cum quas nobis numquam itaque expedita quibusdam architecto! Reiciendis
                commodi hic velit quos.
                Itaque vel odio ab iste delectus quo modi doloribus! Aperiam consequatur nihil ea quas, nesciunt
                adipisci molestias quam incidunt placeat, asperiores saepe officia repellendus nemo laudantium eligendi
                natus, nulla est?
                Libero voluptates aperiam cumque! Hic modi doloremque, neque commodi facere architecto omnis temporibus
                tenetur eaque odio explicabo obcaecati adipisci pariatur optio sapiente error at id velit repellendus
                asperiores quo facilis!
                Reiciendis alias soluta porro quae non esse placeat voluptas repellat ad perspiciatis necessitatibus
                voluptate, quaerat delectus. Atque quasi quas molestias quo nulla, quia magnam fugit, aut quam et eos
                illum.
            </main>
        </div>
    </div>
</div>