button {
    border: 1px solid var(--button-border);
    border-radius: 999999px;
    padding: 9px 12px;
    transition: all 0.3s ease;
    span {
        transition: all 0.3s ease;
        color: var(--text-primary);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.25rem;
        white-space: nowrap;
    }
    &:hover,&:focus-visible {
        background-color: var(--primary);
        span {
            color: var(--text-white);
        }
    }
    &:focus-visible {
        outline: 1px solid var(--focus);
    }
}