<div class="content">
    <app-card-carousel>
    </app-card-carousel>
    <section class="content__tags">
        <h3>Tags para você explorar</h3>
        <div class="content__tags__buttons">
            <app-tag-button [label]="'Porto de paranaguá'"></app-tag-button>
            <app-tag-button [label]="'Nossa senhora'"></app-tag-button>
            <app-tag-button [label]="'São joão'"></app-tag-button>
            <app-tag-button [label]="'Casa colonial'"></app-tag-button>
            <app-tag-button [label]="'Casa Italiana'"></app-tag-button>
        </div>
    </section>
    <app-grid-postagens></app-grid-postagens>
    <app-question-section></app-question-section>
</div>