<section class="section">
    <h2>Destaques da semana</h2>
    <div class="cards">
        <div class="cards__card" *ngFor="let item of itens" tabindex="0">
            <div class="cards__card__image" [ngStyle]="{'background-image': 'url('+ item.imageUrl +')'}">
            </div>
            <a class="cards__card__text" href="http://google.com">
                <h3>{{item.title}}</h3>
                <h4>Uma descricao bem bacana sobre paranaguá</h4>
            </a>
            <div class="cards__card__overlay"></div>
        </div>
    </div>
</section>