@import "./assets/styles/mixins";
@import "./assets/styles/reset";

:root{
  --primary: #ff0000;
  --primary-hover: #831313;
  --icons-primary: #000;
  --text-primary: #000000;
  --text-primary-hover: #222;
  --text-primary-contrast: #000;
  --background: #FFFFFF;
  --background-menu: #fff;
  --background-menu-hover: #dedede;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --padding-1: 8px;
  --padding-2: 16px;
  --padding-3: 24px;
}

:root .dark-theme{
  --primary: #ff0000;
  --primary-hover: #831313;
  --icons-primary: #fff;
  --text-primary: #fff;
  --text-primary-hover: #fff;
  --text-primary-contrast: #000;
  --background: #181818;
  --background-menu: #202020;
  --background-menu-hover: #2b2b2b;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
}

html { 
  font-size: 13px;
  @include xl {
    font-size: 12.75px;
  }
  @include lg {
    font-size: 12.5px;
  }
  @include md {
    font-size: 12.25px;
  }
  @include sm {
    font-size: 12px;
  }
  & * {
    font-family: "Inter", Roboto, sans-serif;
  }
  a, button, svg {
    cursor: pointer;
  }
}
  
body {
  background-color: var(--background);
  color: var(--text-primary);
}

* {
  -webkit-tap-highlight-color: transparent;
}