@import "./assets/styles/mixins";
@import "./assets/styles/reset";

:root{
  --primary: #F6BD60;
  --primary-hover: #f2af44;
  --primary-opacity: #84A59D;
  --icons-primary: #000;
  --text-primary: #000000;
  --text-primary-hover: #222;
  --text-primary-contrast: #000;
  --background: #f7ede2;
  --background-menu: #fff;
  --background-menu-hover: #dedede;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --padding-1: 8px;
  --padding-2: 16px;
  --padding-3: 24px;
  --focus: rgb(0, 0, 0);
  --header-height: 56px;
  --container-space: 500px;
  --text-white: #fff;
  --text-dark: #000;
  --button-border: #2b2b2b;
  --button-border-dark: #2b2b2b;
  --button-background: #fff;
  --button-background-hover: #dedede;
  --text-primary-margin: 56px;
  --question-error: #bb4242;
  --question-success: #42bb42;
  @include xl {
    font-size: 12.75px;
    --container-space: 400px;
    --text-primary-margin: 50px;
  }
  @include lg {
    font-size: 12.5px;
    --container-space: 300px;
    --text-primary-margin: 44px;
  }
  @include md {
    font-size: 12.25px;
    --container-space: 200px;
    --text-primary-margin: 38px;
  }
  @include sm {
    font-size: 12px;
    --container-space: 100px;
    --text-primary-margin: 32px;
  }
}

:root .dark-theme{
  --primary: #F6BD60;
  --primary-hover: #f2af44;
  --primary-opacity: #84A59D;
  --icons-primary: #fff;
  --text-primary: #fff;
  --text-primary-hover: #fff;
  --text-primary-contrast: #000;
  --background: #181818;
  --background-menu: #202020;
  --background-menu-hover: #2b2b2b;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --padding-1: 8px;
  --padding-2: 16px;
  --padding-3: 24px;
  --focus: rgb(255, 255, 255);
  --text-white: #fff;
  --button-border: #fff;
  --button-background: #000;
  --button-background-hover: #2b2b2b;
}

html { 
  font-size: 13px;
  @include xl {
    font-size: 12.75px;
  }
  @include lg {
    font-size: 12.5px;
  }
  @include md {
    font-size: 12.25px;
  }
  @include sm {
    font-size: 12px;
  }
  a, button, svg {
    cursor: pointer;
  }
  overflow-x: hidden;
}
  
body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Inter Tight', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
	width: 9px;
}

/**  STYLE 1 */
*::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: var(--primary);
  &:hover {
    background-color: var(--primary-hover);
  }
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}
