<div class="content">
    <div class="section">
        <h2>Imagens</h2>
        <form class="content__form">
            <input class="content__form__input" type="text" placeholder="Pesquisar">
        </form>
        <ul class="content__cards">
            <li class="content__cards__card" *ngFor="let item of itens">
                <div class="content__cards__card__image" [ngStyle]="{'background-image': 'url('+ item.imageUrl +')'}"></div>
                <span class="content__cards__card__text">Nome da imagem</span>
                <div class="content__cards__card__overlay"></div>
            </li>
        </ul>
    </div>
</div>